refresh-on-startup yes
auto-reload yes
reload-time 15

always-display-description true
download-full-page yes
text-width 78

show-read-feeds no
show-read-articles no
mark-as-read-on-hover yes
max-items 100

save-path ~/Documents/Feeds

browser open
browser links

color background   white   black
color listnormal   white   black
color listfocus    white   color238
color info         white   blue   
color article      white   black

# vim:ft=config
